.title-promo-primary {
  font-size: var(--font-size-3xl);
  line-height: var(--font-size-4xl);
  font-weight: var(--font-weight-bold);
}

.title-h1-primary {
  font-size: var(--font-size-2xl);
  line-height: var(--font-line-height-md);
  font-weight: var(--font-weight-semibold);
}

.title-h1-primary-bd {
  font-size: var(--font-size-2xl);
  line-height: var(--font-line-height-md);
  font-weight: var(--font-weight-bold);
}

.title-h2-primary {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-height-sm);
  font-weight: var(--font-weight-semibold);
}

.title-h2-secondary {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-height-sm);
  font-weight: var(--font-weight-regular);
}

.title-h3-tab-head {
  font-size: var(--font-size-md);
  line-height: var(--font-line-height-xs);
  font-weight: var(--font-weight-semibold);
}

.title-h3-subhead {
  font-size: var(--font-size-md);
  line-height: var(--font-line-height-sm);
  font-weight: var(--font-weight-semibold);
}
